<!-- This is the page where /dashboard/:semId (where :semId is replaced with the id of the semester) will route to -->
<!-- This page will display all the tasks, exams, etc for the semester selected -->
<a href="/logout">Logout</a>
<a href="/dashboard">Back</a>
<a href="/dashboard/<%= semester.id %>/editClasses">Edit Classes</a>
<div id="exams">
    <h1>Exams</h1>
    <div>
        <% exams.forEach(exam => { 
            let classObj = classes.filter(c => c.id == exam.class)[0]; %>

            <div>
                <h3><%= exam.name %></h3>
                <p><%= classObj.name %></p>
                <div>
                    <form action="/dashboard/<%= semester.id %>/exam/<%= exam.id %>" method="post">
                        <input type="text" id="name" name="name" placeholder="Name" value="<%= exam.name %>">
                        <input type="text" id="desc" name="desc" placeholder="Desc" value="<%= exam.desc %>">
                        <input type="datetime-local" id="datetime" name="datetime" placeholder="DateTime" value="<%= exam.datetime.toISOString().slice(0,16) %>">
                        <select name="classId" id="classId" value="<%= exam.class %>">
                            <% classes.forEach(c => { %>
                                <option value="<%= c.id %>"><%= c.name %></option>
                            <% }); %>
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <a href="/dashboard/<%= semester.id %>/exam/<%= exam.id %>/delete">Delete</a>
            </div>

        <% }); %>
    </div>
</div>
<div id="assignments">
    <h1>Assignments</h1>
    <div>
        <% assignments.forEach(assignment => { 
            let classObj = classes.filter(c => c.id == assignment.class)[0]; %>

            <div>
                <h3><%= assignment.name %></h3>
                <p><%= classObj.name %></p>
                <div>
                    <form action="/dashboard/<%= semester.id %>/assignment/<%= assignment.id %>" method="post">
                        <input type="text" id="name" name="name" placeholder="Name" value="<%= assignment.name %>">
                        <input type="text" id="desc" name="desc" placeholder="Desc" value="<%= assignment.desc %>">
                        <input type="number" id="estimatedDays" name="estimatedDays" placeholder="Estimated Days" value="<%= assignment.estimatedDays %>">
                        <input type="datetime-local" id="due" name="due" placeholder="DateTime" value="<%= assignment.due.toISOString().slice(0,16) %>">
                        <input type="number" id="progress" name="progress" placeholder="Progress" value="<%= assignment.progress %>">
                        <select name="classId" id="classId">
                            <% classes.forEach(classObj => { %>
                                <option value="<%= classObj.id %>"><%= classObj.name %></option>
                            <% }); %>
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <a href="/dashboard/<%= semester.id %>/assignment/<%= assignment.id %>/delete">Delete</a>
            </div>

        <% }); %>
    </div>
</div>
<a href="/dashboard/<%= semester.id %>/new">New Assignment or Exam</a>