<!-- This is the page where /dashboard/ will route to -->
<!-- This page will display all the semesters added and allow you to select the semester you want to look at -->
<a href="/logout">Logout</a>
<form action="/dashboard/new" method="post">
    <input type="text" id="name" name="name">
    <button type="submit">Submit</button>
</form>
<br><br><br>
<% semesters.forEach(semester => { %>
    <div>
        <a href="/dashboard/<%= semester.id %>"><%= semester.name %></a>
        <form action="/dashboard/<%= semester.id %>" method="post">
            <input type="text" name="name" id="name" value="<%= semester.name %>">
            <button type="submit">Update</button>
        </form>
        <a href="/dashboard/<%= semester.id %>/delete">Delete</a>
    </div>
    <br><br>
<% }); %>